<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add a new Location </h4>
      <p class="card-description"> Add a new Location to allow users to add Issues</p>
      <form class="forms-sample" method="Post" action="/locations">
        <div class="form-group">
          <label for="Title">Location</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Location Name" required>
        </div>
        <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
      </form>
    </div>
  </div>
</div>